# Ignorar tudo EXCETO o que queremos enviar
/*
!/.gitignore
!/README.md
!/index.html
!/Sites/

# Mas dentro de Sites, ignorar algumas coisas
Sites/node_modules/

# Ignorar arquivos temporários em qualquer lugar
*.tmp
*.log
*.bak

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

